name: release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.1"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build dist
        run: make build-dist

      - name: Publish to npm
        run: |
          cd scripts/npm
          npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          npm publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}